* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}
.blog-title {
  text-align: center;
  margin-bottom: 60px;
}

.posts-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 12px;
}

.posts-list {
  list-style: none;
  padding: 0;
  margin-bottom: 32px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.posts-list-item {
  border-bottom: 1px solid lightgray;
  padding: 18px;
  font-size: 22px;
}

.posts-list-item:last-child {
  border-bottom: none;
}

.posts-list-item__link {
  display: block;
  color:   #450882;
}

.post-list-item__title {
  margin: 0 0 8px;
  font-size: 24px;
}

.post-list-item__categories {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

.new-post-button {
  display: inline-block;
  background-color: #450882;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  min-width: 150px;
}

.post-form {
  margin: 0 auto;
  width: 600px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  border: 1px solid #450882;
  font-size: 16px;
}

textarea {
  width: 100%;
  border: 1px solid #450882;
  border-radius: 6px;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 4px;
}

.form-group {
  margin-bottom: 20px;
}

.error {
  color: #ea4638;
  font-size: 12px;
}

button {
  display: inline-block;
  background-color: #450882;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 12px;
  border: none;
  border-radius: 6px;
  min-width: 150px;
  font-size: 18px;
  margin-right: 26px;
  margin-bottom: 26px;
}